/* Styles for the Main Menu */
body {
    margin: 0;
    /*background-color: #000;*/ /* Optional: Set a base background color */
}

.main-menu {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Ensure the image does not overflow */
}

.main-menu img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure image covers the entire area */
}

.menu-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.menu-buttons h1 {
    font-family: 'Workbench';
    font-size: 80px;
    color: #710707;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add an outline with a shadow effect */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.menu-buttons button {
    padding: 7px 20px; /* Adjust the padding as needed */
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 34px;
    cursor: pointer;
    border-radius: 15px;
    font-family: 'Honk';
    width: auto; /* Remove the fixed width */
    height: auto; /* Remove the fixed height */
    display: inline-block; /* Allow the button to shrink to fit its contents */
    margin-bottom: 10px;
}

.menu-buttons button:hover {
    background-color: transparent;
    transform: translateY(-10px); /* Move the button up by 10 pixels on hover */
}

.win_main {
    text-align: center;
}

/* Styles for Win Page */
.Win-Page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.Win-Page img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Send the image to the background */
}

.container {
    position: relative;
}

.lottie-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Place it above other elements */
}

/* Apply the same styles as main menu buttons to the win text */
.jumbotron {
    text-align: center; /* Center the content within the jumbotron */
}

.jumbotron h1 {
    font-family: 'Honk'; /* Use the Honk font-family for the "You Win!" text */
    font-size: 76px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add margin below the "You Win!" text for spacing */
}

.jumbotron p {
    font-family: 'Protest Riot'; /* Use the Protest Riot font-family for the "You found the treasure" text */
    font-size: 24px; /* Adjust the font size as needed */
    color: white; /* Set text color to white */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add an outline with a shadow effect */
}

.win_screen_buttons {
    display: flex;
    justify-content: center;
}

.win_button {
    font-family: 'Pixelify Sans', sans-serif; /* Use the Pixelify Sans font-family for the buttons */
    background-color: black; /* Set the background color to black */
    color: white; /* Set text color to white */
    border: 2px solid transparent; /* Add border to the buttons */
    padding: 10px 20px; /* Add padding to the buttons */
    border-radius: 15px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add cursor pointer for interactive feel */
    text-decoration: none; /* Remove default link underline */
    display: inline-block; /* Allow the button to shrink to fit its contents */
    margin-right: 10px; /* Adjust margin between buttons */
    font-size: 30px;
    transition: border-color 0.3s ease, transform 0.3s ease; /* Add transition for smoother border color change and transform effect */
}

.win_button:hover {
    border-color: green; /* Change border color to green on hover */
    transform: translateY(-10px); /* Move the button up by 10 pixels on hover */
}

.main_menu_button:hover {
    border-color: darkred; /* Change border color to dark red on hover */
}

/* Styles for Leaderboard Page */
.Leaderboard-Page img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Send the image to the background */
}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%; /* Set body height to 100% */
}

.container {
    font-family: 'Pixelify Sans', sans-serif; /* Use the specified font */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add an outline with a shadow effect */
    color: white;
}

#contact-list {
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 100%; /* Set table height to 100% */
}

#contact-list th, #contact-list td {
    color: white;
}

#contact-list th {
    background-color: #333;
}


/* Styles for LogIn Page */
.LogIn-Page img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Send the image to the background */
}


/* Styles for the Main Menu controls pop up*/
#popup {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-inner {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add an outline with a shadow effect */
    font-family: 'Pixelify Sans', sans-serif; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#popup.open {
    opacity: 1;
    z-index: 999;
}

/* Style for the image within the modal */
.controls-inner img {
    max-width: 60%; /* Set maximum width to 60% of the modal-inner */
    max-height: 60%; /* Set maximum height to 60% of the modal-inner */
    display: block; /* Remove extra space below the image */
    margin: auto; /* Center the image horizontally */
}