/* loading-style.css */

/* Add your loading screen styling here */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-screen img {
    width: 50px; /* Adjust the width of the loading GIF */
}

.loading-screen p {
    margin-top: 10px; /* Adjust the space between the GIF and text */
    font-family: 'Pixelify Sans', sans-serif;
}
