

.popup {
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.controls-inner {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add an outline with a shadow effect */
    font-family: 'Pixelify Sans', sans-serif; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.popup.open {
    opacity: 1;
    z-index: 999;
}

/* Style for the image within the modal */
.controls-inner img {
    max-width: 60%; /* Set maximum width to 100% of the modal-inner */
    max-height: 60%; /* Set maximum height to 100% of the modal-inner */
    display: block; /* Remove extra space below the image */
    margin: auto; /* Center the image horizontally */
}